<html>
    <head>
    </head>
    <body>
        <p>Hello!</p>

        <p>{{sender_first_name}} {{sender_last_name}} ({{sender_email}}) wants you to have an extra wet nose or two in your life. {{sender_first_name}} has invited you to be a guardian of {{sender_dogs}}</p>

        <p>If you accept, you will be able to schedule appointments and provide information regarding shots, medications and preferences on behalf of these furry friends.</p>

        <p>To accept or decline this invitation, visit <a href="http://localhost:8000/api/invites/">Storybook Kennels</a>.  If you do not yet have an account, you can <a href="http://localhost:8000/api/users/">create one for free</a>.</p>

        <p>If you received this email in error, or if you wish to stop receiving such emails, you can <a href="http://localhost:8000/api/opt-out/{{invite_id}}/">remove yourself from the list of valid recipients</a> even if you do not have an account.</p>
    </body>
</html>