<html>
    <head>
    </head>
    <body>
        <p>{{user.first_name}} {{user.last_name}} has invited you to share {{dog.name}}.</p>
        <p>If you accept, you will share ownership of {{dog.name}} with {{user.first_name}}.  You will be able to schedule appointments on behalf of {{user.first_name}} and {{dog.name}}, as well as provide information for {{dog.name}} such as shots, medications and preferences.</p>
        <p>To accept or decline this invitation, visit <a href="http://localhost:8000/api/invites/">Storybook Kennels</a>. If you do not yet have an account, you can <a href="http://localhost:8000/api/users/">create one for free</a>.</p>
    </body>
</html>
